/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin du reset */

body, html {
	background-color: #111;
	color: #FFF;
}

a {
	text-decoration: none;
	color: #FFF;
}

a:hover {
	color: #f1c40f;
}

#wrapper {
	font-family: 'Lato', sans-serif;
	width: 100%;
}

.container {
	width: 1000px;
	margin: auto;
}

.row {
	width: 100%;
	padding: 40px 0;
	text-align: center;
}

.row.gray { background-color: #111; }
.row.blue { background-color: #2c3e50; }
.row.duck { 
	background-image: url("../img/duck.jpg"); 
	background-position: 50% 50%;
	padding: 70px 0;
	background-size: cover;
}

.btn {
	padding: 16px 24px;
	background-color: #EEE;
	color: #000;
	border-radius: 2px;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #FFF;
	color: #000;
}

.register {
	margin: 25px 0 10px 0;
}

.tagline {
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	text-align: right;
	width: 65%;
	float: left;
}

.action_btns {
	width: 30%;
	margin-left: 5%;
	float: left;
	text-align: left;
}

span.yellow {
	color: #f1c40f;
}

.clearfix {
	clear: both;
}


/*
questions
*/

.question {
	text-align: left;
	width: 100%;
	padding: 20px 0;
	background-color: #333;
	margin: 2px 0;
}

.question .left, .question .right {
	float: left;
}

.question .left {
	width: 80%;
}
.question .right {
	width: 19%;
	margin-left: 1%;
}

.question .title {
	font-size: 20px;
	margin-left: 20px;
	line-height: 20px;
}

.question .tags {
	margin-left: 20px;
	margin-top: 10px;
	font-size: 13px;
}

.question .tag {
	padding: 2px 5px;
	background-color: #f1c40f;
	color: #000;
	margin-right: 4px;
}

.question .avatar {
	height: 40px;
	width: 40px;
	background-color: #f1c40f;
	display: inline-block;
}

.question .author {
	background-color: none;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
}